name: CI

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: mbstring, pdo, pdo_mysql

      - name: Install dependencies
        working-directory: src
        run: composer install --no-interaction --prefer-dist

      - name: Prepare app
        working-directory: src
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Run tests
        working-directory: src
        run: php artisan test